@{
    ViewBag.Title = "Index";
}

<p><img src="~/Images/banner.png" class="banner" alt="" /></p>
<div class="left">
    <div data-collection="ArticleList" data-expression="flow">
        <div class="template articlelist">
            <h2><a href="/Home/Show/$ArticleList.ID">$ArticleList.Title</a></h2>
            <div class="subtitle">
                <a href="/Teacher/Show/$ArticleList.UserID">$ArticleList.Username</a> @@<a href="/?cid=$ArticleList.CatalogID">$ArticleList.CatalogTitle</a> 发表于 $ArticleList._Time
            </div>
            <div class="content" data-field="ArticleList.Sumamry"></div>
        </div>
    </div>
</div>

<div class="right">
    <div class="block">
        <h3>文章分类</h3>
        <ul data-collection="CatalogList">
            <li class="template cataloglist"><a href="/?cid=$CatalogList.ID">$CatalogList.Title</a> ($CatalogList.Count)</li>
        </ul>
        <h3>操作</h3>
        <ul>
            <li><a href="/Home/Create">发表文章</a></li>
            @if (ViewBag.CurrentUser.Role == Qqhru.Models.UserRole.超级管理员)
            {
                <li><a href="/Admin/Check">审核文章</a></li>
                <li><a href="/Admin/Catalog">分类管理</a></li>
            }
        </ul>
    </div>
</div>
<script>
    if (@Request.RequestContext.RouteData.Values["id"] != null)
    {
        Collection.ArticleList.cid = @Request.RequestContext.RouteData.Values["id"];
    }
</script>