
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body>
    <div class="login-outer">
        <h2 style="text-align:center">登录</h2>
        @using (Html.BeginForm("Login", "Home"))
        {
            <p>
                用户名
                <br />
                <input type="text" name="username" class="textbox login-textbox" />
            </p>
            <p>
                密码
                <br />
                <input type="password" name="password" class="textbox login-textbox" />
            </p>
            <p>
                <input type="submit" value="登录" class="button blue" />
            </p>
        }
    </div>
    <div class="footer"><p>&copy; @DateTime.Now.Year - 齐齐哈尔大学 软件112 李纪磊 毕业设计</p></div>
</body>
</html>