
@{
    ViewBag.Title = "Index";
}

<h2>
    课组管理
    <a href="/Group/Create" class="add">创建课组</a>
</h2>
<table class="table">
    <thead>
        <tr class="tl">
            <th>ID</th>
            <th>课组名称</th>
            <th>简介</th>
            <th>组长</th>
            <th>人数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-collection="GroupList" data-expression="flow" data-identifier="ID">
        <tr class="template grouplist">
            <td>$GroupList.ID</td>
            <td>$GroupList.Title</td>
            <td>$GroupList.Description</td>
            <td><a href="/Teacher/Show/$GroupList.UserID">$GroupList.Username</a></td>
            <td>$GroupList.Count</td>
            <td>
                <a href="/Group/Show/$GroupList.ID">详情</a>
                <a href="javascript: DeletePort('GroupDetail', $GroupList.ID)">删除</a>
            </td>
        </tr>
    </tbody>
</table>

<script>
    DetailEvents.GroupDetail.onDeleted = function (key, port) {
        $("#grouplist-collection-" + key).remove();
    };
</script>
