<div class="block">
    <h3>操作</h3>
    <ul>
        <li><a href="/Group/Show/@Html.ViewContext.RouteData.Values["id"]">课组信息</a></li>
        @if (ViewBag.CurrentUser.Role == Qqhru.Models.UserRole.超级管理员 || Convert.ToInt32(Html.ViewContext.RouteData.Values["id"]) == ViewBag.CurrentUser.GroupID)
        {
            <li><a href="/Group/Edit/@Html.ViewContext.RouteData.Values["id"]">编辑课组</a></li>
        }
        @if (ViewBag.CurrentUser.Role == Qqhru.Models.UserRole.超级管理员)
        {
            <li><a href="/Group/Delete/@Html.ViewContext.RouteData.Values["id"]">删除课组</a></li>
        }
    </ul>
</div>
