
@{
    ViewBag.Title = "Index";
}

<h2>
    课程管理
    <a href="/Class/Create" class="add">创建课程</a>
</h2>
<table class="table">
    <thead>
        <tr class="tl">
            <th>ID</th>
            <th>课程名</th>
            <th>学期</th>
            <th>教师</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-collection="ClassList" data-expression="flow" data-identifier="ID">
        <tr class="template classlist">
            <td>$ClassList.ID</td>
            <td>$ClassList.Title</td>
            <td>$ClassList.Term</td>
            <td><a href="/Teacher/Show/$ClassList.ID">$ClassList.Username</a></td>
            <td>
                <a target="_blank" href="/Class/Plan/$ClassList.ID">查看教学计划</a>
                <a target="_blank" href="/Class/Plan2/$ClassList.ID">查看教案</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Class/Edit/$ClassList.ID" class="operator" data-user-id="@(ViewBag.CurrentUser.ID)">修改课程</a>
                    <a href="javascript: DeletePort('ClassDetail', $ClassList.ID)">删除删除课程</a>
                }
            </td>
        </tr>
    </tbody>
</table>